<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SqlConnection"
			 connectionString="Data Source=ATHIRATHAN;
                            Initial Catalog=VBOX2526_PHASE2;
                            User Id=sa;
                            Password=athi@123;" />

		<add name="SqlMasterConnection"
			 connectionString="Data Source=ATHIRATHAN;
                            Initial Catalog=MASTER;
                            User Id=sa;
                            Password=athi@123;" />
	</connectionStrings>
	
	<appSettings>
		<add key="SqlServerName" value="ATHIRATHAN"/>
		<add key="SqlDatabaseName" value="VBOX2526_PHASE2"/>
		<add key="SqlServerUserId" value="sa"/>
		<add key="SqlServerPassword" value="athi@123"/>
	</appSettings>
	
</configuration>